* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
.main-container {
    width: 100%;
    height: 100%;
    background-color: darkred;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.internal-container {
    width: 25%;
    height: 100%;
    border: 2px solid black;
}
.day-container {
    background: linear-gradient(310deg, darkred, red);
}
.month-container {
    background: linear-gradient(310deg, navy, blue);
}
.date-container {
    background: linear-gradient(310deg, green, yellowgreen)
}
.year-container {
    background: linear-gradient(310deg, orangered, orange)
}
.display {
    margin: 0 auto;
    margin-top: 20px;
    background-color: gray;
    width: 80%;
    height: 25%;
    max-height: 200px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 1px 2px 5px 3px black;
}
.settings {
    margin: 20px auto;
    background-color: transparent;
    width: 80%;
    height: 50%;
    max-height: 400px;
    border-radius: 15px;/*
    border: 2px solid black;
    box-shadow: 1px 2px 5px 3px black;*/
}
.day-settings {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.day-display {
    max-height: 70px;
    height: 12%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px black;
    background-color: lightgray;
}
.day-text {
    margin: auto;
    width: 75%;
    text-align: center;
}
.day-img {
    margin: auto;
    width: 25%;
}

.month-settings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 4px;
    border-radius: 10px;
    width: 80%;
}
.month-display {
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px black;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.month-img {
    text-align: center;
}

.date-settings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    
}
.date-display {
    text-align: center;
    box-shadow: 1px 1px 1px 2px black;
    border-radius: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-settings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.year-display {
    border-radius: 10px;
    background-color: lightgray;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 1px black;
}
